<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
 
    <servlet>
        <servlet-name>sac.juke.RestApplication</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
		    <param-name>javax.ws.rs.Application</param-name>
		    <param-value>sac.juke.RestApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		
		<!-- Needed for Server Sent Events -->
		<async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>sac.juke.RestApplication</servlet-name>
        <url-pattern>/j/*</url-pattern>
    </servlet-mapping>
   
    <!--
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping> --> 
</web-app>
